<div>
  <div class="hero">
    <div class="header"></div>
  </div>

<body>
<div class="contestTitle">
	<h1>Mini Contest 1</h1>
</div>

<div class="contestContainer">
	<div class="contestDescription">
		<h2>Contest Info</h2>
		<p>Lorem ipsum Minim veniam nostrud sint tempor sit enim. Lorem ipsum Laboris elit mollit veniam laborum dolore dolor ex fugiat ullamco amet est. Lorem ipsum Anim aliquip sit consectetur amet laborum ut in occaecat ex do amet. Lorem ipsum Commodo in Ut ut eiusmod adipisicing ea eu et et. Lorem ipsum Aute commodo proident in pariatur ut commodo. Lorem ipsum Proident incididunt et dolor sunt fugiat velit nostrud veniam do anim sunt ex. Lorem ipsum Magna id pariatur enim voluptate ad laborum nulla laborum nulla cupidatat irure nisi. Lorem ipsum Reprehenderit sed quis occaecat consectetur nisi dolor nisi esse officia Duis consequat.</p>
	</div>
	<div class="contestRules">
		<h3>Rules</h3>
		<p>Lorem ipsum Sunt in cupidatat ut elit enim ea. Lorem ipsum Nisi veniam deserunt sunt ad pariatur eu. Lorem ipsum Commodo dolor laborum dolore commodo ut elit sunt cillum cupidatat fugiat culpa. Lorem ipsum Cupidatat ut sed qui dolore exercitation exercitation minim eiusmod ea Excepteur est.</p>
		<h3>Prize</h3>
		<p>Lorem ipsum Id dolore est fugiat veniam veniam officia sit. Lorem ipsum Sunt qui reprehenderit adipisicing minim minim ut irure consequat. Lorem ipsum Voluptate sed sint occaecat esse nostrud nisi in ut Excepteur Duis officia Excepteur. Lorem ipsum Aliqua ad incididunt laborum ut eiusmod voluptate labore dolor deserunt sed commodo.</p>
	</div>
	<div class="contestEnter">
		<button onclick="location.href='contestform.html'">Participate</button>
	</div>
</div>

</body>