nav {
	@include outer-container;

	.logo {
	@include span-columns(4);
	@include pad(1rem);
	font-weight: bold;
	}

	ul {
		@include span-columns(8);
		@include pad(1rem);
		text-align: right;

			li {
			display: inline-block;
			padding: 0 1rem;

				> a {
					color: black;				
				}
			}
	}
}
