.odsTitle {
	@include outer-container;
	@include pad(1rem);
	margin-top: 100px;
	h1 {
		color: #bababa;
		font-size: 4rem;
		text-align: center;
	}
}

.odsContainer {
	@include outer-container;
	.odsYoutube {
		@include span-columns(8);
		@include shift(2);
	}
	.odsDesc {
		@include span-columns(8);
		@include shift(2);
		margin-top: 30px;
		margin-bottom: 50px;
	}
}

.relatedContainer {
	@include outer-container;
	padding: 70px 0;
	border-top: 1px solid #bababa;
	.relatedVideo {
		@include span-columns(3);
		@include omega(4n);
		height: 115px;
		margin-bottom: 20px;
		background-image: url("http://placehold.it/253x115&text=Related+Video");
	}
}