<div class="footer">
	<ul class="footerLinks">
		<li>About</li>
		<li>Contact</li>
		<li>Terms of Service</li>
		<li>Privacy Policy</li>
	</ul>
	<ul class="soc">
    <li><a class="soc-twitter" href="#"></a></li>
    <li><a class="soc-facebook" href="#"></a></li>
    <li><a class="soc-google" href="#"></a></li>
    <li><a class="soc-pinterest soc-icon-last" href="#"></a></li>
	</ul>
</div>