<div class="confirmationTitle">
	<h1>Confirmation Page</h1>
</div>

<div class="confirmationContent">
	<div class="returnContainer">
		<button onclick="location.href='voting.html'">Return to Contests</button>
	</div>
</div>