<div class="loginTitle">
	<h1>Log In</h1>
</div>

<div class="loginContainer">
	<div class="loginForm">
		E-mail
		<input type="text">
		Password
		<input class="passwordForm"type="password">
		<button onclick="location.href='#field3'">Log In</button>
		<div class="border"></div>
		<button onclick="location.href='#field3'">Log In with Facebook</button>
		<a href="#">Create an account</a>
	</div>
</div>