<div class="odsTitle">
	<h1>Original Digital Series</h1>
</div>

<div class="odsContainer">
	<img class="odsYoutube" src="http://placehold.it/853x505&text=Youtube+Player">
	<div class="odsDesc">
		<p>Lorem ipsum Ad Ut sunt ullamco mollit do minim dolor velit ad dolore qui. Lorem ipsum Sunt adipisicing eu dolor esse consequat do quis amet incididunt Duis ut est. Lorem ipsum Ullamco consequat dolore laborum qui proident Ut reprehenderit sit amet fugiat eiusmod Ut. Lorem ipsum Laborum minim aliquip fugiat laborum voluptate qui. Lorem ipsum Nisi id labore enim dolore tempor cillum dolore eiusmod in.</p>
	</div>
</div>

<div class="relatedContainer">
	<div class="relatedVideo"></div>
	<div class="relatedVideo"></div>
	<div class="relatedVideo"></div>
	<div class="relatedVideo"></div>
	<div class="relatedVideo"></div>
	<div class="relatedVideo"></div>
	<div class="relatedVideo"></div>
	<div class="relatedVideo"></div>
</div>