<div class="pglTitle">
	<h1>Project Greenlight Series</h1>
</div>

<div class="pgltrailerContainer">
	<div class="pgltrailerYoutube">
		<img src="http://placehold.it/853x505&text=Trailer">
	</div>
	<div class="pglDesc">
		<p><b>Episode 1</b><br><br>Lorem ipsum Ad Ut sunt ullamco mollit do minim dolor velit ad dolore qui. Lorem ipsum Sunt adipisicing eu dolor esse consequat do quis amet incididunt Duis ut est. Lorem ipsum Ullamco consequat dolore laborum qui proident Ut reprehenderit sit amet fugiat eiusmod Ut. Lorem ipsum Laborum minim aliquip fugiat laborum voluptate qui. Lorem ipsum Nisi id labore enim dolore tempor cillum dolore eiusmod in.</p>
		<button onclick="location.href='#'">Watch on HBO</button>	
	</div>
</div>

<div class="pglRelated">
	<h2>Related</h2>
	<div class="greenlightThumbnail">
		<img src="http://placehold.it/300x150">
	</div>
	<div class="greenlightDesc"><b>Talking Greenlight Episode 1</b><br>Lorem ipsum Proident veniam est id aliquip laboris dolor ad sed deserunt labore esse. Lorem ipsum Non Duis labore ad aliqua proident eiusmod non dolor elit esse aliqua quis. Lorem ipsum Veniam qui cupidatat sunt eiusmod eu et reprehenderit tempor nostrud. Lorem ipsum Non aliquip ex sed amet eiusmod commodo sint proident.
	</div>
	<div class="greenlightThumbnail">
		<img src="http://placehold.it/300x150">
	</div>
	<div class="greenlightDesc"><b>Additional Content</b><br>Lorem ipsum Proident veniam est id aliquip laboris dolor ad sed deserunt labore esse. Lorem ipsum Non Duis labore ad aliqua proident eiusmod non dolor elit esse aliqua quis. Lorem ipsum Veniam qui cupidatat sunt eiusmod eu et reprehenderit tempor nostrud. Lorem ipsum Non aliquip ex sed amet eiusmod commodo sint proident.
	</div>
</div>

	