<section class="subvidContainer">
	<img class="subYoutube" src="http://placehold.it/853x505&text=Youtube+Player">
	<div class="contestDesc">
		<h2>Contest Name</h2>
		<p>Lorem ipsum Reprehenderit reprehenderit anim aliquip labore sunt dolor fugiat dolor ut sint et enim. Lorem ipsum Consectetur do consectetur labore aliqua minim elit deserunt adipisicing nostrud consequat. Lorem ipsum Consectetur in cillum dolore laborum ullamco enim officia enim deserunt non.</p>
		<button onclick="location.href='#'">Share</button>	
		<div class="subDetails">
		<h2>Submission Details</h2>
		<p>Lorem ipsum Reprehenderit reprehenderit anim aliquip labore sunt dolor fugiat dolor ut sint et enim. Lorem ipsum Consectetur do consectetur labore aliqua minim elit deserunt adipisicing nostrud consequat. Lorem ipsum Consectetur in cillum dolore laborum ullamco enim officia enim deserunt non.</p>
		<button onclick="location.href='#'">Vote for this submission</button>	
</div>
</section>

<div class="filter"> 
	<select>
	  <option>Filter 1</option>
	  <option>Filter 2</option>
	  <option>Filter 3</option>
	</select>
</div>

<div>
<div class="submissionContainer">
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
	</div>
	<div class="pagination">
		<b>1</b>&#160;2 3 &#62;
	</div>
</div>