<div>
  <div class="hero">
    <div class="header"></div>
  </div>


<div class="contestTitle">
	<h1>Mini Contest 1</h1>
</div>

<div class="submissionBox">
	<p>Vote for your favorite</p>
	<p>Voting ends on April 30th, 2015</p>
	<div class="submissionContainer">
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
		<div class="submissionVideo"></div>
	</div>
	<div class="viewallButton">
	<button onclick="location.href='viewsub.html'">View All</button>
	</div>
</div>